<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: head"> </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <h1 th:text="'Witaj ' +${user.name} + ' ' + ${user.surname}"></h1>
        <div class="app-info">
            <p>
                Aplikacja umożliwia tworzenie spersonalizowanych playlist muzycznych z linkami do materiałów na YouTube. Baw się dobrze!
            </p>
        </div>
        <div th:include="layout :: footer"></div>
    </body>
</html>